<section class="login-page">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Sign In</h1>
  
    <div
      class="form-control"
      [ngClass]="{invalid: isTouchedInvalidForm('email')}"
    >
      <label for="email">Email:</label>
      <input type="text" id="email" autocomplete="on" formControlName="email" placeholder="Enter your email here">
      <div
        *ngIf="isTouchedInvalidForm('email')"
        class="form-validation"
      >
        <p *ngIf="isEmptyForm('email')">Enter your Email.</p>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: isTouchedInvalidForm('password')}"
    >
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password here">
      <div
        *ngIf="isTouchedInvalidForm('password')"
        class="form-validation"
      >
        <p *ngIf="isEmptyForm('password')">Enter your password.</p>
      </div>
    </div>

    <button type="submit" class="button" [disabled]="form.invalid">Sign In</button>

    <a [routerLink]="['/', 'sign-up']" class="button">Create new account</a>
  </form>
</section>