<section class="login-page">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Sign In</h1>

    <div class="form-note" *ngIf="message">{{ message }}</div>
  
    <div
      class="form-control"
      [ngClass]="{
        invalid: emailControl.touched && emailControl.invalid,
        valid: emailControl.touched && emailControl.valid
      }"
    >
      <label for="email">Email:</label>
      <input type="text" id="email" autocomplete="on" formControlName="email" placeholder="Enter your email here">
      <div
        *ngIf="emailControl.touched && emailControl.invalid"
        class="form-validation"
      >
        <p *ngIf="emailControl.errors.required">Enter your Email.</p>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{
        invalid: passwordControl.touched && passwordControl.invalid,
        valid: passwordControl.touched && passwordControl.valid
      }"
    >
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password here">
      <div
        *ngIf="passwordControl.touched && passwordControl.invalid"
        class="form-validation"
      >
        <p *ngIf="passwordControl.errors.required">Enter your password.</p>
      </div>
    </div>

    <button type="submit" class="button" [disabled]="form.invalid">Sign In</button>

    <a [routerLink]="['/', 'sign-up']" class="button">Create new account</a>
  </form>
</section>