<section class="register-page">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create New Account</h1>
  
    <div
      class="form-control"
      [ngClass]="{
        invalid: nameControl.touched && nameControl.invalid,
        valid: nameControl.touched && nameControl.valid
      }"
    >
      <label for="username">Username:</label>
      <input type="text" id="username" autocomplete="on" formControlName="username" placeholder="Enter your username here">
      <div
        *ngIf="nameControl.touched && nameControl.invalid"
        class="form-validation"
      >
        <p *ngIf="nameControl.errors.required">Enter your username.</p>
        <p *ngIf="nameControl.errors.minlength && !nameControl.errors.required">
          Username length should be at least {{nameControl.errors.minlength.requiredLength}}. Current length is {{nameControl.errors.minlength.actualLength}}.
        </p>
        <p *ngIf="nameControl.errors.invalidUsername && !nameControl.errors.required">Enter a valid username.</p>
      </div>
    </div>
  
    <div
      class="form-control"
      [ngClass]="{
        invalid: emailControl.touched && emailControl.invalid,
        valid: emailControl.touched && emailControl.valid
      }"
    >
      <label for="email">Email:</label>
      <input type="text" id="email" autocomplete="on" formControlName="email" placeholder="Enter your email here">
      <div
        *ngIf="emailControl.touched && emailControl.invalid"
        class="form-validation"
      >
        <p *ngIf="emailControl.errors.required">Enter your Email.</p>
        <p *ngIf="emailControl.errors.invalidEmail && !emailControl.errors.required">Enter a valid Email.</p>
        <p *ngIf="emailControl.errors.notUniqueEmail && !emailControl.errors.required">This Email already exists. Enter a unique Email.</p>
      </div>
    </div>
  
    <div
      class="form-control"
      [ngClass]="{
        invalid: passwordControl.touched && passwordControl.invalid,
        valid: passwordControl.touched && passwordControl.valid
      }"
    >
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password here">
      <div
        *ngIf="passwordControl.touched && passwordControl.invalid"
        class="form-validation"
      >
        <p *ngIf="passwordControl.errors.required">Enter your password.</p>
        <p *ngIf="passwordControl.errors.minlength && !passwordControl.errors.required">
          Password length should be at least {{passwordControl.errors.minlength.requiredLength}}. Current length is {{passwordControl.errors.minlength.actualLength}}.
        </p>
        <p *ngIf="passwordControl.errors.invalidPassword && !passwordControl.errors.required">Enter a valid password.</p>
        <p *ngIf="passwordControl.errors.matchedPassword && !passwordControl.errors.required">Password shoudn't contain parts of username or Email.</p>
      </div>
    </div>

    <button type="submit" class="button" [disabled]="form.invalid">Create new account</button>

    <a [routerLink]="['/', 'sign-in']" class="button">Sign In</a>
  </form>
</section>