<div class="container">
  <div class="form-note" *ngIf="message">{{ message }}</div>
  <div class="search">
    <div class="alphabet-button" (click)="showCloseAlphabet()">
      <p>{{ alphabetButtonLetter }}</p>
    </div>
    <div *ngIf="isVisibleAlphabet" class="alphabet-wrapper">
      <app-alphabetical-select (onLetterClick)="searchByLetter($event)"></app-alphabetical-select>
    </div>
    <div>
      <form class="search-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control" [ngClass]="{
            invalid: searchControl.touched && searchControl.invalid,
            valid: searchControl.touched && searchControl.valid
          }"
        >
          <input type="text" autocomplete="off" formControlName="search" placeholder="Enter your search here">
          <div *ngIf="searchControl.touched && searchControl.invalid" class="form-validation">
            <p *ngIf="searchControl.errors.invalidHeroname && !searchControl.errors.required">Enter a valid name of hero.</p>
          </div>
        </div>

        <button type="submit" class="button" [disabled]="form.invalid">Search</button>
      </form>
    </div>
  </div>
  
  <div *ngIf="hasSearches" class="search-results">
    <p *ngFor="let search of recentSearches; trackBy: trackPrimitivesByFn" (click)="searchFromRecent(search)">{{ search }}</p>
  </div>

  <div class="search-results" *ngIf="hasResults">
    <app-hero-card [hero]="hero" *ngFor="let hero of foundHeroes; trackBy: trackHeroesByFn"></app-hero-card>
  </div>
</div>